{% extends "base.html" %}
{% load i18n my_filter %}

{% block content %}
<div class="container">
    <h1>Флаги стран содержащие 
    {%if colors|length > 1 %}
    {% for color in colors %}
    {% if forloop.last and not forloop.first %} и {%else%}{%if not forloop.first %}, {%endif%}{% endif %}
    {{color.get_color_group_display|lower}}
    {% endfor %}
    {%else%}
    {{colors.0.get_color_group_display|lower}}
    {%endif%}
    цвет
    </h1>
    <div class="row">
    {% for flag in flags %}
    <div class="col-md-3 col-sm-6 col-sx-12 pb-3">
        <div class="card">
          <picture>
                <source type="image/webp"
                        srcset="{{flag.country.iso_code_a2|get_img_path:'w320'}}.webp">
                <source type="image/png"
                        srcset="{{flag.country.iso_code_a2|get_img_path:'w320'}}.png">

                <img src="{{flag.country.iso_code_a2|get_img_path:'w320'}}.png"
                    alt="{{ flag.title }}" 
                    title="{{ flag.title }} {{flag.name}} - картинка"
                    class="card-img-top">
            </picture>
          
          <div class="card-body">
            <a href="{% url 'countries:flag-detail' flag.slug %}">
              <h5 class="card-title">{{ flag.title }}</h5>
            </a>
            <p class="card-text">{{ flag.name }}</p>
          </div>
        </div>
    </div>
    {% endfor %}
    </div>

</div>
{% endblock content %}

{# SEO block #}
{% block meta_title %}
{%if colors|length > 1 %}
{% for color in colors %}
{% if forloop.last and not forloop.first %} и {%else%}{%if not forloop.first %}, {%endif%}{% endif %}
{{color.get_color_group_display|capfirst}}
{% endfor %}
{%else%}
{{colors.0.get_color_group_display|capfirst}}
{%endif%}
цвет в составе государственных флагов стран | AllFlags.ru
{% endblock meta_title %}

{# Meta description #}
{% block meta_description %}
{%if colors|length > 1 %}
{% for color in colors %}
{% if forloop.last and not forloop.first %} и {%else%}{%if not forloop.first %}, {%endif%}{% endif %}
{{color.get_color_group_display|upper}}
{% endfor %}
{%else%}
{{colors.0.get_color_group_display|upper}}
{%endif%}
цвет {%if colors|length > 15 %}довольно часто {%else%}редко {%endif%}входит в состав цветов государственных флагов стран. На AllFlags мы составили полный 
список из {{colors|length}} флагов с этими цветами
{% endblock meta_description %}

{# Meta keywords #}
{% block meta_keywords %}

{% endblock meta_keywords %}

{% block meta_robots %}
index,follow
{% endblock meta_robots %}