{% extends "base.html" %}

{% block content %}
    <h1>{{flag.meta_h1}}</h1>
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">

            <picture>
                <source type="image/webp"
                        media="(min-width: 1921px)" 
                        srcset="https://flagcdn.com/w1280/{{flag.country.iso_code_a2|lower}}.webp">
                <source type="image/png" 
                        media="(min-width: 1921px)" 
                        srcset="https://flagcdn.com/w1280/{{flag.country.iso_code_a2|lower}}.png">

                <source type="image/webp" 
                        media="(min-width: 1281px) and (max-width: 1920px)" 
                        srcset="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.webp">
                <source type="image/png" 
                        media="(min-width: 1281px) and (max-width: 1920px)" 
                        srcset="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.png">

                <source type="image/webp"
                        media="(max-width: 460px)"
                        srcset="https://flagcdn.com/w320/{{flag.country.iso_code_a2|lower}}.webp">
                <source type="image/png"
                        media="(max-width: 460px)"
                        srcset="https://flagcdn.com/w320/{{flag.country.iso_code_a2|lower}}.png">

                <img src="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.jpg"
                    alt="{{ flag.title }}" 
                    title="{{ flag.title }} {{flag.name}} - картинка"
                    class="img-fluid img-thumbnail">
            </picture>



            <p>Пропорции: {{flag.proportion}}</p>
            <p>Цвета: {% for color in flag.colors %}{{color}}, {% endfor %}</p>
            <p>Утвержден: {{flag.date|date:"d.m.Y"}}</p>
            <p>Фигуры: {{flag.figure}}</p>
            <p>emoji: {{flag.emoji}}</p>
            <p></p>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <table class="table table-striped table-hover table-sm country_info">
                <thead>
                    <tr>
                        <th colspan=2>Информация о стране {{flag.country.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Континент</td>
                        <td>{{flag.country.get_continent_display}}</td>
                    </tr>
                    <tr>
                        <td>Столица</td>
                        <td>{{flag.country.capital_name}}</td>
                    </tr>
                    <tr>
                        <td>Валюта</td>
                        <td>{{flag.country.currency_name}}, {{flag.country.currency_code}}, {{flag.country.currency_simbol}}</td>
                    </tr>
                    <tr>
                        <td>Официальное название страны</td>
                        <td>{{flag.country.conventional_long_name}}</td>
                    </tr>
                    <tr>
                        <td>Официальное название на местном языке</td>
                        <td>{{flag.country.local_long_name}}</td>
                    </tr>
                    <tr>
                        <td>Короткое название на местном языке</td>
                        <td>{{flag.country.local_short_name}}</td>
                    </tr>
                    <tr>
                        <td>Гимн</td>
                        <td>
                            <audio controls>
                                <source src="{{flag.country.anthem}}">
                                <p>Ваш браузер не поддерживает аудио</p>
                            </audio>
                        </td>
                    </tr>
                    <tr>
                        <td>Девиз</td>
                        <td>{{flag.country.motto}}</td>
                    </tr>
                    <tr>
                        <td>Официальный язык</td>
                        <td>{{flag.country.official_language}}</td>
                    </tr>
                    <tr>
                        <td>Национальный язык</td>
                        <td>{{flag.country.national_language}}</td>
                    </tr>
                    <tr>
                        <td>Интернет-домен</td>
                        <td>{{flag.country.internet_tld}}</td>
                    </tr>
                    <tr>
                        <td>Код страны ISO</td>
                        <td>{{flag.country.iso_code_a2}}, {{flag.country.iso_code_a3}}, {{flag.country.iso_code_num}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <p>
            {{flag.short_description|safe}}
        </p>
    </div>

    <div class="section-download">
        <h2>Скачать {{ flag.title }} в форматах .png .jpg .svg</h2>
        <a href="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.jpg">.jpg (640px)</a>
    </div>
{% endblock content %}

{# SEO block #}
{% block meta_title %}{{flag.meta_title}}{% endblock meta_title %}

{% block meta_description %}{{flag.meta_description}}{% endblock meta_description %}

{% block meta_keywords %}{{flag.meta_keywords}}{% endblock meta_keywords %}

{% block meta_robots %}
{% if flag.is_index %}index,{% else %}noindex,{% endif %}
{% if flag.is_follow %}follow{% else %}nofollow{% endif %}
{% endblock meta_robots %}