{% extends "base.html" %}
{% load i18n my_filter %}
{% block content %}

<div class="py-5 bg-light">
    <div class="container">
        <h1>{{flag.meta_h1}}</h1>
        <p>
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">

                <picture>
                    <source type="image/webp"
                            media="(min-width: 1921px)" 
                            srcset="https://flagcdn.com/w1280/{{flag.country.iso_code_a2|lower}}.webp">
                    <source type="image/png" 
                            media="(min-width: 1921px)" 
                            srcset="https://flagcdn.com/w1280/{{flag.country.iso_code_a2|lower}}.png">

                    <source type="image/webp" 
                            media="(min-width: 1281px) and (max-width: 1920px)" 
                            srcset="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.webp">
                    <source type="image/png" 
                            media="(min-width: 1281px) and (max-width: 1920px)" 
                            srcset="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.png">

                    <source type="image/webp"
                            media="(max-width: 460px)"
                            srcset="https://flagcdn.com/w320/{{flag.country.iso_code_a2|lower}}.webp">
                    <source type="image/png"
                            media="(max-width: 460px)"
                            srcset="https://flagcdn.com/w320/{{flag.country.iso_code_a2|lower}}.png">

                    <img src="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.jpg"
                        alt="{{ flag.title }}" 
                        title="{{ flag.title }} {{flag.name}} - картинка"
                        class="img-fluid img-thumbnail">
                </picture>

                <table class="table table-striped table-hover table-sm country_info">
                    <thead>
                        <tr>
                            <th>Цвет</th>
                            <th>HEX</th>
                            <th>RGB</th>
                            <th>CMYK</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for color in flag.colors.all %}
                        <tr>
                            <td style="background-color:#{{color.hex}};">{{color.get_color_group_display}}</td>
                            <td>#{{color.hex|upper}}</td>
                            <td>{%for val in color.rgb%}{{val}}{% if not forloop.last %}, {% endif %}{%endfor%}</td>
                            <td>{%for val in color.cmyk%}{{val}}%{% if not forloop.last %}, {% endif %}{%endfor%}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>Количество цветов: {{flag.colors.count}}</p>
                <p>Пропорции: {{flag.proportion}}</p>
                <p>Утвержден: {{flag.date|date:"d.m.Y"}}</p>
                <p>Элементы на флаге: 
                {% if flag.is_motto %}{{ flag|get_name:'is_motto' }},{% endif %}
                {% if flag.is_country_name %}{{ flag|get_name:'is_country_name' }},{% endif %}
                {% if flag.is_emblem %}{{ flag|get_name:'is_emblem' }},{% endif %}
                {% if flag.is_crescent %}{{ flag|get_name:'is_crescent' }},{% endif %}
                {% if flag.is_star %}{{ flag|get_name:'is_star' }},{% endif %}
                {% if flag.is_animal %}{{ flag|get_name:'is_animal' }},{% endif %}
                {% if flag.is_bird %}{{ flag|get_name:'is_bird' }},{% endif %}
                {% if flag.is_crown %}{{ flag|get_name:'is_crown' }},{% endif %}
                {% if flag.is_weapon %}{{ flag|get_name:'is_weapon' }},{% endif %}
                {% if flag.is_sun %}{{ flag|get_name:'is_sun' }},{% endif %}
                {% if flag.is_plant %}{{ flag|get_name:'is_plant' }},{% endif %}
                {% if flag.is_circle %}{{ flag|get_name:'is_circle' }},{% endif %}
                {% if flag.is_triangle %}{{ flag|get_name:'is_triangle' }},{% endif %}
                {% if flag.is_cross %}{{ flag|get_name:'is_cross' }},{% endif %}
                {% if flag.is_diamond %}{{ flag|get_name:'is_diamond' }},{% endif %}
                {% if flag.is_horizontal_stripes %}{{ flag|get_name:'is_horizontal_stripes' }},{% endif %}
                {% if flag.is_vertical_stripes %}{{ flag|get_name:'is_vertical_stripes' }},{% endif %}
                {% if flag.is_diagonal_stripes %}{{ flag|get_name:'is_diagonal_stripes' }}{% endif %}
                </p>
                <p>emoji: {{flag.emoji}}</p>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <p>{{ flag.title }} утвержден {% language 'ru' %}{{flag.date|date:"j E Y"}}{% endlanguage %}. Флаг имеет пропорции {{flag.proportion}} и содержит {{flag.colors.count}} цвета.</p>
                <table class="table table-striped table-hover table-sm country_info">
                    <thead>
                        <tr>
                            <th colspan=2>Информация о стране {{flag.country.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Континент</td>
                            <td>{{flag.country.get_continent_display}}</td>
                        </tr>
                        <tr>
                            <td>Столица</td>
                            <td>{{flag.country.capital_name}}</td>
                        </tr>
                        <tr>
                            <td>Валюта</td>
                            <td>{{flag.country.currency_name}}, {{flag.country.currency_code}}, {{flag.country.currency_simbol}}</td>
                        </tr>
                        <tr>
                            <td>Официальное название страны</td>
                            <td>{{flag.country.conventional_long_name}}</td>
                        </tr>
                        <tr>
                            <td>Официальное название на местном языке</td>
                            <td>{{flag.country.local_long_name}}</td>
                        </tr>
                        <tr>
                            <td>Короткое название на местном языке</td>
                            <td>{{flag.country.local_short_name}}</td>
                        </tr>
                        <tr>
                            <td>Гимн</td>
                            <td>
                                <audio controls>
                                    <source src="{{flag.country.anthem}}">
                                    <p>Ваш браузер не поддерживает аудио</p>
                                </audio>
                            </td>
                        </tr>
                        <tr>
                            <td>Девиз</td>
                            <td>{{flag.country.motto}}</td>
                        </tr>
                        <tr>
                            <td>Официальный язык</td>
                            <td>{{flag.country.official_language}}</td>
                        </tr>
                        <tr>
                            <td>Национальный язык</td>
                            <td>{{flag.country.national_language}}</td>
                        </tr>
                        <tr>
                            <td>Интернет-домен</td>
                            <td>{{flag.country.internet_tld}}</td>
                        </tr>
                        <tr>
                            <td>Код страны ISO</td>
                            <td>{{flag.country.iso_code_a2}}, {{flag.country.iso_code_a3}}, {{flag.country.iso_code_num}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <p>
            {{flag.short_description|safe}}
        </p>
    </div>
</div>

<div class="py-5 bg-success section-download">
    <div class="container">
        <h2>Скачать {{ flag.title }} в форматах .png .jpg .svg</h2>
        <a href="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.jpg">.jpg (640px)</a>
    </div>
</div>

{% endblock content %}

{# SEO block #}
{% block meta_title %}{{flag.meta_title}}{% endblock meta_title %}

{% block meta_description %}{{flag.meta_description}}{% endblock meta_description %}

{% block meta_keywords %}{{flag.meta_keywords}}{% endblock meta_keywords %}

{% block meta_robots %}
{% if flag.is_index %}index,{% else %}noindex,{% endif %}
{% if flag.is_follow %}follow{% else %}nofollow{% endif %}
{% endblock meta_robots %}