{% extends "base.html" %}

{% block content %}
    <h1>Флаги</h1>

    {% for flag in flags %}
        <div class="card" style="width: 18rem;">
          <picture>
                <source type="image/webp"
                        srcset="https://flagcdn.com/w320/{{flag.country.iso_code_a2|lower}}.webp">
                <source type="image/png"
                        srcset="https://flagcdn.com/w320/{{flag.country.iso_code_a2|lower}}.png">

                <img src="https://flagcdn.com/w640/{{flag.country.iso_code_a2|lower}}.jpg"
                    alt="{{ flag.title }}" 
                    title="{{ flag.title }} {{flag.name}} - картинка"
                    class="card-img-top">
            </picture>
          
          <div class="card-body">
            <h5 class="card-title">{{ flag.title }}</h5>
            <p class="card-text">{{ flag.name }}</p>
            <a href="{% url 'countries:flag-detail' flag.slug %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
    {% endfor %}

{% endblock content %}